<div class="root_navigation">
	<div class="root_model_navigation">
		<%%=link_to "Home", "/"%>
<%for table in ActiveRecord::Base.connection.tables - ["schema_migrations"]-%>
		<%%=link_to "<%=table.titleize%>", <%=table%>_path%>
<%end -%>
	</div>
	<div class="root_account_navigation">
		<%%=link_to "Login", :action=>"account", :action=>"login" -%>
	</div>
</div>
