<div id="header" class="">
	<div class="container">
		<div class="span-18">
			<h1>Static App</h1>
		</div>
		<div class="userbox ui-corner-all span-5 last">
			<%%=link_to "login"%>
		</div>
	</div>
</div>
