<!-- header beg -->
<div id="application_header">
<span class="logo"><a href="/"><img src="/Icons/WWW/w3c_home_nb" alt="W3C" height="48" width="72" /></a></span> 
<h1>Static App</h1>
</div>
<!-- header end -->
