<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="height: 100%; min-height: 100%;">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%%= h @title || "my static app" %></title>
  <%%= stylesheet_link_tag 'static_style' %>
  <%%if @google_api_key%>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=<%%=@google_api_key%>" ></script>
    <script type="text/javascript" charset="utf-8">
       google.load("maps", "2.x");
    </script>
  <%%end%>
	<%%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%%= javascript_include_tag 'jquery-ui-1.7.2.custom.min'%>
  <%%= stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom' %>
	<%%= javascript_include_tag 'jrails'%>
  <%%= javascript_include_tag 'sorttable' %>
  <%%= javascript_include_tag 'ajax' %>	


</head>
<div id='header'>
 <h1>
   <a href="/">App</a>
   <%%if parent_resources and parent_resources[0]%>
   / <%%=parent_resources[0].short_name%>
   <%%end%>
 </h1>
</div>

<%% if @model_selector %>
  <%%= render :partial=>@model_selector %>
<%% else %>
  <%%= render :partial=>"/shared/root_model_selector" %>
<%% end %>
   



