<%% if @root_navigation %>
  <div class="model_header ui-corner-tl">
    <%%= @navigation_title %>
  </div>
  <div class="navigation_panel ui-corner-bl">
    <%%= render :partial=>@root_navigation %>
    <%%= render :partial=>@filter %>
  </div>
<%% end %>

<%root_models.each_with_index do |m,i| -%>
    <%%begin%>
    <div class="model_header ui-corner-tl ui-corner-bl" >
      <%%= link_to <%=m.titleize.to_s.inspect%>, <%=m.underscore.pluralize.downcase%>_path %>
    </div>
    <%%rescue%>
    </div>
    <%%end%>
<%end -%>

