/* Author: Craig Erskine Description: Dynamic Menu System - Horizontal/Vertical */ ul#navmenu-h { margin: 0; padding: 0; list-style: none; position: relative; } ul#navmenu-h ul { width: 160px; /* Sub Menu Width */ margin: 0; list-style: none; display: none; position: absolute; top: 100%; left: 0; } ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { top: 0; left: 100%; } ul#navmenu-h li { float: left; display: inline; position: relative; } ul#navmenu-h ul li { width: 100%; display: block; } /* Root Menu */ ul#navmenu-h a { border-top: 1px solid #FFF; border-right: 1px solid #FFF; padding: 6px; float: left; display: block; background: #DDD; color: #666; font: bold 11px Arial, sans-serif; text-decoration: none; height: 1%; } /* Root Menu Hover Persistence */ ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a { background: #BBB; color: #FFF; } /* 2nd Menu */ ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a { float: none; background: #BBB; } /* 2nd Menu Hover Persistence */ ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a { background: #999; } /* 3rd Menu */ ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a { background: #999; } /* 3rd Menu Hover Persistence */ ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a { background: #666; } /* 4th Menu */ ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a { background: #666; } /* 4th Menu Hover */ ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover { background: #333; } /* Hover Function - Do Not Move */ ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; } ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }
/* Author: Craig Erskine Description: Dynamic Menu System - Vertical */ ul#navmenu-v,ul#navmenu-v li,ul#navmenu-v ul { width: 160px; /* Menu Width */ margin: 0; list-style: none; } ul#navmenu-v li { float: left; position: relative; width: 100%; } ul#navmenu-v li.iehover { z-index: 1000; /* IE z-index bugfix */ } ul#navmenu-v ul { display: none; position: absolute; top: 0; left: 100%; z-index: 9999; } /* Root Menu */ ul#navmenu-v a { border-top: 1px solid #FFF; border-right: 1px solid #FFF; padding: 6px; display: block; background: #DDD; color: #666; font: bold 11px Arial, sans-serif; text-decoration: none; height: 1%; } /* Root Menu Hover Persistence */ ul#navmenu-v a:hover,ul#navmenu-v li:hover a,ul#navmenu-v li.iehover a { background: #BBB; color: #FFF; } /* 2nd Menu */ ul#navmenu-v li:hover li a,ul#navmenu-v li.iehover li a { float: none; background: #BBB; } /* 2nd Menu Hover Persistence */ ul#navmenu-v li:hover li a:hover,ul#navmenu-v li:hover li:hover a,ul#navmenu-v li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover a { background: #999; } /* 3rd Menu */ ul#navmenu-v li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li a { background: #999; } /* 3rd Menu Hover Persistence */ ul#navmenu-v li:hover li:hover li a:hover,ul#navmenu-v li:hover li:hover li:hover a,ul#navmenu-v li.iehover li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover a { background: #666; } /* 4th Menu */ ul#navmenu-v li:hover li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li.iehover li a { background: #666; } /* 4th Menu Hover */ ul#navmenu-v li:hover li:hover li:hover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover li a:hover { background: #333; } /* Hover Function - Do Not Move */ ul#navmenu-v li:hover ul ul,ul#navmenu-v li:hover ul ul ul,ul#navmenu-v li.iehover ul ul,ul#navmenu-v li.iehover ul ul ul { display: none; } ul#navmenu-v li:hover ul,ul#navmenu-v ul li:hover ul,ul#navmenu-v ul ul li:hover ul,ul#navmenu-v li.iehover ul,ul#navmenu-v ul li.iehover ul,ul#navmenu-v ul ul li.iehover ul { display: block; }

.container_table {
	height: 98%;
}

.container_header_row {
	height: 15px;
}

.container_body_row {

}

.container_footer_row {
	height: 1em;
}

.container_body_navigation_cell {
	width: 200px; 
	vertical-align:top;
	padding: 0;
	margin: 0; 
	padding-right: 4px;
}

.standard_padding {
	padding: 7px;
}

.container_navigation_footer {
	}

.container_main_footer {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
  padding-left: 5px;
	background-color: #F9F9F9;
  color: #666;	
	padding: 0;
	margin: 0;
}


.container_body_main_cell {
	padding: 0;
	margin: 0;
	vertical-align:top; 
	background-color: #F9F9F9;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;	
	height: 100%;	
}

.model_header {
	font-size: 1.25em;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #899AB7;
	border-top: 1px solid #6982a7; /* 778bAF; */
	border-right: 1px solid #6982a7; /* 778bAF; */
	border-left: 1px solid #6982a7; /* 778bAF; */		
	color: white;
}

.model_header a {             
   color: white;
	 text-decoration: none;
}

.model_header_ul li {             
   list-style: none;
   color: red;
}

ul.model_header_ul li a{             
   color: black;
   text-decoration: none;
}
ul.model_header_ul img{              
vertical-align: middle;
}

.root_navigation {
	float: left;
	height: 22px;
	font-size: 13px;
	width: 956px;
	border-bottom: 1px solid #899AB7;
	margin-left: 6px;	
}

.root_model_navigation {
	float: left;
}

.root_account_navigation {
	float: right;
}

.root_navigation a {
	padding-right: 0.5em;
	color: #0000cc;
}

.header_links {
	float: right; 
	padding-right: 1em; 
	font-size: .8em;"
}

.right_column {
	height: 100%;
	background-color: #F9F9F9;
	border: 1px solid #DDD;	
	padding-left: -1px;
	padding-right: -1px;
}

.navigation_panel {
	padding: 5px;
	background-color: #F9F9F9;
	border: 1px solid #DDD;
	margin-bottom: 4px;
}

.standard_panel {
	padding: 5px;
	background-color: #F9F9F9;
	border: 1px solid #DDD;
	height: 100%;
}

.entry_body {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 400px;

	background-color: #F9F9F9;
	border: 1px solid #DDD;
	height: 100%;
	padding-bottom: 3em;
}

.entry_actions {
	border: 1px solid #DDD;
	border-bottom: 0px;	
  padding-left: 5px;
  background: #EEEEEE;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.static_form {
	margin: 0;
	padding: 0;
}

.static_form table {
	padding: 0;
	margin: 0;
	width: 50%;
}

.static_form table td {
	padding: 0;
	margin: 0;
}

.remove_facet {
	margin-left: .5em;
	background-color: #FEFEFE;
	padding: .25em;
	padding-left: .5em;
	padding-right: .5em;
}

.remove_facets_panel {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  background: #F9F9F9;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}



.model_facets {
	border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
	padding-top: 4px;
	padding-bottom: 2em;
	padding-left: 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  background: #F9F9F9;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

.model_selector {
	border-bottom: 3px solid #6982a7;
	font-weight: bold;
	color: white;
}

.model_selection {
	font-size: 1.25em;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #6982a7;
	border-bottom: 1px solid #6982a7; /* 778bAF; */
	font-weight: bold;
	color: white;
}


.model_selection a {
	width: 100%;
	display: block;
	text-decoration: none;
	background-color: #778bAF; /* #899ab7; */
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-top: -3px;
	margin-bottom: -2px;
	margin-left: -5px;
	color: white;
}

.model_selection a:hover {
	background-color: #FFDE6B;
	color: black;
}

.model_selection a:active {
	color: black;
	text-decoration: underline;
}

.work_area_header {
	font-size: 1.25em;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #899AB7;
	border-top: 1px solid #6982a7; /* 778bAF; */
	border-right: 1px solid #6982a7; /* 778bAF; */
	border-left: 1px solid #6982a7; /* 778bAF; */		
	color: white;
}

.presentation_selector {
	background-color: #D4D4D4;
	padding-left: 5px;
	padding-top: 7px;
	border: 1px solid #DDD;
}

.presentation_selected {
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;

	background-color: #F9F9F9;
	display: inline;
	border-top: 1px solid #DDD;	
	border-left: 1px solid #DDD;	
	border-right: 1px solid #DDD;	
	border-bottom: 1px solid #DDD;	
}

.presentation_selection {
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;

	background-color: #CCCCCC;
	display: inline;
	border-top: 1px solid #DDD;	
	border-left: 1px solid #DDD;	
	border-right: 1px solid #DDD;	
	border-bottom: 1px solid #DDD;	
}



.presentation_selection a {
	background-color: #F9F9F9;
	display: inline;
	border: 1px solid #DDD;
	
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;

	margin-top: -4px;
	margin-bottom: -3px;
	margin-left: -7px;
	margin-right: -14px;
	
	text-decoration: none;
	color: black;
	
}

.pagination {
}

.pagination a {
  text-decoration: none;
  color: #fff;
	padding-left: .25em;
	padding-right: .25em;
	border: 1px solid #899AB7;	
}
.pagination a:hover, .pagination a:active {
  color: black;
	border: 1px solid #FFDE6B;
  background-color: #FFDE6B;	
	padding-left: .25em;
	padding-right: .25em;
}
.pagination span.current {
  color: #fff;
	border: 1px solid #6982a7;
	background-color: #6982a7;	
	padding-left: .25em;
	padding-right: .25em;
}
.pagination span.disabled {
  color: #899AB7;
	border: 1px solid #899AB7;	
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


.sortable {
	border: 1px solid #D9D9D9;
	#border-collapse:separate;
	border-spacing:0;
}

.sortable th {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  background: #EEE;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

.sortable tbody tr td {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
}

.sortable tbody tr.selected td {
	background-color: #3d80df;
	color: #ffffff;
	font-weight: bold;
	border-left: 1px solid #346DBE;
	border-bottom: 1px solid #7DAAEA;
}

