<!-- Left Column -->
<div class="span-5" >
  <div class="model" >
	  <div class="model_header ui-corner-tl">
				<%%=@<%=gen_spec.singular_name%>.short_name%>
		</div>

	</div> <!-- end model selector -->
</div> <!-- end left_column -->