<div class="work_area_header ui-corner-tr">
	<div class="header_links">
		<div class="pagination">
		<!-- <img src="/images/icons/close_window.gif"> -->
		<%%=link_to "&uarr;", {:action=>"prev", :id=>@<%=gen_spec.singular_name%>.id}%>  
		<%%=link_to "&darr;", {:action=>"next", :id=>@<%=gen_spec.singular_name%>.id}%>  
	  <%%=link_to "&otimes;", <%=gen_spec.collection_route%>, :method=>:get%>
		</div>
	</div>
	<%%=@title if @title%>&nbsp;
</div>


