<div class="work_area_header ui-corner-tr">
	<div class="header_links">
		<%%= will_paginate @posts, :param_name=><%=gen_spec.singular_name%>_search.page_param, :inner_window=>1, :outer_window=>0, :prev_label=>'&larr;', :next_label=>'&rarr;' %>							

	</div>
	<%%=@title if @title%>&nbsp;
</div> <!-- end work_area header -->

<!-- facet remove bar -->
<%%if <%=gen_spec.singular_name%>_search.active_facets.length != 0%>
<div class="remove_facets_panel"> 
	<%%@search=<%=gen_spec.singular_name%>_search%>
	<%%=render :partial=>"faceted_search/active_facets"%>
</div> 
<%%end%>					
<!-- end facet remove bar -->

<div class="presentation_selector">
	<div class="presentation_selected ui-corner-ul ui-corner-ur">
		<%%=link_to "Table"%>
	</div>
	<div class="presentation_selection ui-corner-ul ui-corner-ur">
		<%%=link_to "Map"%>
	</div>
	<div class="presentation_selection ui-corner-ul ui-corner-ur">
		<%%=link_to "Chart"%>
	</div>					
</div> <!-- end presentation selector -->


