<%%=render :partial=>"shared/standard_header"%>
<table cellpadding="0" cellspacing="0" class="tabbed" height="100%" width="100%">
  <tr>
    <td class="sidecolumn" id="sidecolumn" valign="top">
        <div class="facet_form ui-corner-all">
    		  <%%=render :partial=>"facet_form"%>
        </div>
    </td>
    <td class="maincolumn" id="maincolumn" valign="top">
      <div class="maincolumn_body ui-corner-all" id="maincolumn_body">
    		  <%%=yield%>
    	</div>
    </td>
  </tr>
</table>

<%%=render :partial=>"shared/standard_footer"%>