<%%=render :partial=>"shared/standard_header"%>
<table class="container_table">
  <tr class="container_header_row">
    <td colspan=2>
      <%%=render :partial=>"/shared/standard_banner"%></td>
    </td>
  </tr>
  <tr class="container_body_row">
    <td class="container_body_navigation_cell">
		  <%%=render :partial=>"/shared/standard_navigation"%>
		</td>
		<td class="container_body_main_cell ui-corner-tr">
		  <%%=render :partial=>@header if @header%>
		  <%%=yield%>
		</td>
	</tr>
  <tr class="container_footer_row">
    <td class="container_navigation_footer">
      &nbsp;
    </td>
    <td class="container_main_footer ui-corner-br">
      &nbsp;<%%=render :partial=>@footer if @footer%>
    </td>
  </tr>
	
</table>
<%%=render :partial=>"shared/standard_footer"%>