<%%=render :partial=>"shared/standard_header"%>
<table style="height: 98%; border: 1px solid green; background-color: red;">
  <tr style="height: 20px;">
    <td colspan="2">
      <%%=render :partial=>"/shared/standard_banner"%></td>
    </td>
  </tr>
  <tr>
    <td style="width: 200px; vertical-align:top; margin: 0; padding: 0px;">
		  <%%=render :partial=>"/shared/standard_navigation"%>
		</td>
		<td style="vertical-align:top; margin: 0; padding: 0px;">
      <div class="work_area">
			  <%%=render :partial=>@header%>
			</div>
			<div class="presentation_window">
		   <%%=yield%>
			</div> <!-- end presentation window -->
		</td>
	</tr>
</table>
<%%=render :partial=>"shared/standard_footer"%>