<%if gen_spec.nests_many%>
<div id="model_selector">
  <ul>
    <%for resource in gen_spec.nests_many%>
      <li> <%%=link_to "<%=resource[:model].pluralize.titleize%>", <%=gen_spec.singular_name%>_<%=resource[:name].pluralize%>_path(@<%=gen_spec.singular_name%>), :class=>"ui-corner-tl ui-corner-tr"%> </li>
    <%end%>
  </ul>
</div>
<%else%>
  <%%=render :partial=>"/shared/root_model_selector"%>
<%end%>
