<div style="float: right; padding-right: 1em; font-size: .8em;">
	<%%= will_paginate @posts, :param_name=><%=gen_spec.singular_name%>_search.page_param, :inner_window=>1, :outer_window=>0, :previous_label=>'&laquo;', :next_label=>'&raquo;' %>							
	
</div>
Application Work Area Title Bar